[Desktop Entry]
Encoding=UTF-8
Name=Enlace a Puerta lógica - Wikipedia, la enciclopedia libre
Type=Link
URL=https://es.wikipedia.org/wiki/Puerta_l%C3%B3gica
Icon=text-html
